{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Django Notes App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'notes/styles.css' %}">
  </head>

  <body>
    <header>
      <h1>Django Notes App</h1>

      <nav>
        {% if user.is_authenticated %}
        <span>Logged in as {{ user.username }}</span>
        |
        <a href="{% url 'notes_home' %}">Home</a>
        |
        <a href="{% url 'note_create' %}">Create Note</a>
        |
        <form class="logout-form" action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        |
        <a href="{% url 'register' %}">Register</a>
        {% endif %}
      </nav>
    </header>

    <main>
      {% if messages %}
      <div class="messages">
        {% for message in messages %}
        <p class="message {{ message.tags }}">
          {{ message }}
        </p>
        {% endfor %}
      </div>
      {% endif %}

      {% block content %}
      {% endblock %}
    </main>
  </body>

</html>